name: test
on:
  push:
    branches:
      - "**"
    tags:
      - "!v*"
jobs:
  cargo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        check:
          - id: clippy
            subcmd: clippy --quiet --all-features -- -Dwarnings --target=x86_64-unknown-linux-musl
          - id: test_debug
            subcmd: test --quiet --target=x86_64-unknown-linux-musl
          - id: test_release
            subcmd: test --quiet --target=x86_64-unknown-linux-musl --release
          - id: test_release_jemalloc
            subcmd: test --quiet --target=x86_64-unknown-linux-musl --release --features=jemalloc

    steps:
      - uses: actions/checkout@v6

      # https://github.com/actions/cache/blob/main/examples.md#rust---cargo
      - name: Cache artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{  matrix.check.id }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Run tests inside Dev Container
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/hankei6km/test-dev-containers-images
          imageTag: rust-cli_main_2025-05-20
          push: never
          subFolder: .devcontainer/cli
          runCmd: |
            cargo ${{ matrix.check.subcmd }}

  install:
    runs-on: ${{ matrix.variant.runner }}
    strategy:
      matrix:
        variant:
          - runner: ubuntu-latest
            expect: "'test'$'\\n'''"
          - runner: windows-latest
            # expect: "'test'$'\\r'''$'\\n'''"
            expect: "'test'$'\\n'''"

    steps:
      - uses: actions/checkout@v6

      # https://github.com/actions/cache/blob/main/examples.md#rust---cargo
      - name: Cache artifacts
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-install-${{ hashFiles('**/Cargo.lock') }}

      - name: Install and test
        run: |
          cargo install --force --path .
          test "$(echo test | xquo)" = "${EXPECT}"
        shell: bash
        env:
          EXPECT: ${{ matrix.variant.expect }}
